---
import '../styles/global.css';
import scrollScript from '../scripts/scroll-animations.ts?url';
import Navbar from '../components/Navbar.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>B.G ポートフォリオ</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <script
      type="module"
      src={scrollScript}
    ></script>
  </body>
</html>
